@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

@font-face {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
}

body{
    font-family: "Kanit", sans-serif;
    background-color: #16214B;
    background-image: url(img/fondoCiber.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    border-radius: 10% / 50%;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #fff;
    font-size: 1.5m;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(47,125,200);
    border-radius: 5px;
    padding: 0 10px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
}

header .logo:hover{
    color: blueviolet;
    background: #fff;
    transition: 1s;
}

header .navbar{
    position: relative;
    display: flex;
}

header .navbar li {
    list-style: none;
    margin-left: 30px;
}

header .navbar li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}

header .navbar li a:hover{
    border-radius: 5px;
    padding: 0 10px;
    background: blueviolet;
    transition: 1s;
    border-bottom: 5px solid rgb(1,245,249);
    padding: 2px;
}

/*Contenido de la web*/

.contenido{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.contenido .tituloBox{
    position: relative;
    max-width: 600px;
    text-align: center;
}

.contenido .tituloBox h2{
    font-size: 4.5em;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 20px blueviolet;
}

.contenido .tituloBox h2 span{
    background: rgb(47,125,200);
    color: white;
    padding: 0 10px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    border-radius: 20px;
}

.contenido .tituloBox p {
    font-size: 1 .8em;
    line-height: 1,-5;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

.contenido .tituloBox a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(137,66,188);
    background: white;
    padding: 10px 20px;
    margin: left;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0,5s;
}

.contenido .tituloBox a:hover{
    color: #fff;
    background: rgb(47,125,200);
    transition: 0.5s;
}

.contenido .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
    z-index: -5;
}

.contenido .imgBox img{
    height: 70vh;
    border-radius: 25% 10%;
}

.contenido .imgBox img:hover{
    height: 80vh;
}

/*Copyright*/

.copyright{
    position: absolute;
    bottom: 0px;
    left: 800px;
    margin-bottom: 20px;
    padding: 0 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    color: white;
    text-align: center;
    margin-left: 100px;
}

/*Redes Sociales*/

.redesSociales{
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}

.redesSociales li{
    padding: 10px;
}

.redesSociales li a{
    color: white;
    font-size: 2.5em;
    transition: 0.3s;
}

.redesSociales li a:hover{
    color: rgb(1,245,249);
}

/*Quién Soy*/

.contenido-quiensoy{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.contenido-quiensoy .tituloBox-quiensoy{
    position: relative;
    max-width: 600px;
    text-align: center;
}

.contenido-quiensoy .tituloBox-quiensoy h2{
    font-size: 4.5em;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 20px blueviolet;
}

.contenido-quiensoy .tituloBox-quiensoy h2 span{
    background: rgb(47,125,200);
    color: white;
    padding: 0 10px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    border-radius: 20px;
}

.contenido-quiensoy .tituloBox-quiensoy p {
    font-size: 1 .8em;
    line-height: 1,-5;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

.contenido-quiensoy .tituloBox-quiensoy a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(137,66,188);
    background: white;
    padding: 10px 20px;
    margin: left;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0,5s;
}

.contenido-quiensoy .tituloBox-quiensoy a:hover{
    color: #fff;
    background: rgb(47,125,200);
    transition: 0.5s;
}

.contenido-quiensoy .imgBox {
    width: 600px;
    display: flex;
    justify-content: center;
    z-index: -5;
}

.contenido-quiensoy .imgBox img{
    height: auto;
    border-radius: 25% 10%;
}

.contenido-quiensoy .imgBox img:hover{
    height: 50vh;
}

.quiensoy-descripcion{
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 25px;
    margin-right: auto;
    margin-left: 50px;
    background-color: rgb(0,0,0,0.7);
    border-radius:  20px;
}

.contenido-quiensoy .imgBox2 {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    z-index: -5;
}

.contenido-quiensoy .imgBox2 img{
    height: 60vh;
    border-radius: 25% 10%;
}

.contenido-quiensoy .imgBox2 img:hover{
    height: 70vh;
}

/**/

/*CV*/

.cv.section{
    align-items: start;
    margin: 0%;

}

.cv-titulo{
    font-size: 3.5em;
    color: white;
    text-shadow: 0 0 20px blueviolet;
    border-radius: 10px;
    margin: 2px;
    padding: 20px;
    width: 200px;
}

.cv-container{
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    float: left;
}

.cv-titulo2{
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 20px blueviolet;
    border-radius: 10px;
    margin: 2px;
    padding: 20px;
    width: 200px;
}

.cv-descripcion{
    margin: 100px;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    font-family: "Kanit", sans-serif;
    color: white;
    text-align: left;
    border-radius: 10px;
    box-shadow: #fff;

    font-size: 25px;
    margin-right: auto;
    margin-left: 50px;
    background-color: rgb(0,0,0,0.7);
    border-radius:  20px;
}

.cv-empresa{
    margin: 100px;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: left;
}

.contenido .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
    z-index: -5;
}

.cv-imgBox img{
    height: 30vh;
    border-radius: 25% 10%;
}

.cv-imgBox img:hover{
    height: 50vh;
    box-shadow: 0 0 20px blueviolet;
}

/*Proyectos*/

.proyectos{
    align-items: start;
    margin: 0%;
}

.proyectos-titulo h1{
    font-size: 3.5em;
    color: white;
    text-shadow: 0 0 20px blueviolet;
    border-radius: 10px;
    margin: 2px;
    padding: 20px;
    width: 200px;

}

.fotos{
    width: 100%;
    margin: 0 auto;
}

/*Para que el contenedor muestre elementos aunque estos sean flotantes*/
.container::after{
    content: "";
    display: block;
    height: 0px;
    clear: both;
}

.container{
    width: 90%;
    margin: 0 9%;
}

/*Estructura de cada componente de la galeria (imagen + descripción)*/

.container div{
    width: 28%;
    height: auto;
    display: inline;
    float: left;
    margin: 0% 3% 0% 0%;
    padding: 0;
}

.container div img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px blueviolet;
    border: 5px solid #fff;
}

/*Estructura de la descripción, por defecto que no se muetre*/

.container div img~span{
    width: 100%;
    display: block;
    opacity: 0;
    margin: 0;
    padding: 2px, 5px;
    color: #fff;
    background: rgb(0,0,0,0.7);
    box-shadow: 0 0 10px violet;
    text-align: center;
}

/*Se muestra la descripción al posicionar el cursor encima de la imagen*/

.container div img:hover+span{
    opacity: 1;
}

/*Sirve para especificar el comportamiento que tendrán las imágenes al posicionar 
el cursor encima del contenedor*/

.container:hover div{
    opacity: 0,2;
    transform: scale(0.7);
    transition: 2s;
}

/*Contacto*/

.contacto{
    align-items: start;
    margin: 0%;
    display: block;
    height: 0px;
    clear: both;
}

.contacto-titulo h1{
    font-size: 3.5em;
    color: white;
    text-shadow: 0 0 20px blueviolet;
    border-radius: 10px;
    margin: 2px;
    padding: 20px;
    width: 200px;

}

.contacto-section{
    margin-top: 100px;
    background: rgb(0,0,0,0.7);
    box-shadow: 0 0 10px violet;
    text-align: center;
}

.contacto-formulario{
    background: #16214B;
    background-size: 30% 30%;
    background-attachment: fixed;
    font-family: "Kanit", sans-serif;
    color: white;
}

h1{
    color: bisque;
}

legend{
    color: bisque;
}

/* MEDIA QUERIES */

/* Adaptación de ancho fijo de resoluciones de más de 1300px de ancho. */
/* YA SE APLICA POR DEFECTO EN EL CSS (YA QUE ESTA DISEÑADO EN UNA PANTALLA CON UN ANCHO MAYOR A 1300PX), 
LO PONGO SOLO PARA QUE VEAS QUE LO HE TENIDO EN CUENTA. */

@media only screen and (min-width: 1300px) {

}

/* Adaptación optimizada para verse en una tablet en posición horizontal. */

@media only screen and (max-width: 1024px) {
    .section-titulo{
        width: 60vw;
    }

    .section-titulo h1 {
        margin-top: -7vw;
    }

    #logo {
        width: 5vw;
    }

    body {
        font-size: 1.6vw;   
    }
    nav ul {
        width: 50vw;
        font-size: 1.4vw;
    }
}
   
@media only screen and (max-width: 992px) {

    .section-titulo h1 {
        margin-top: -5vw;
    }

    body {
        font-size: 2.4vw;   
    }

    nav ul {
        width: 50vw;
        font-size: 1.7vw;
    }

}

@media only screen and (max-width: 576px) {
    .section-titulo {
        width: 60vw;
    }
    .section-titulo h1 {
        margin-top: 0vw;
    }

    #logo {
        width: 7vw;
    }

    body {
        font-size: 2.4vw;   
    }

    nav ul {
        width: 80vw;
        font-size: 2.1vw;
    }
}
